<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>EnvironmentVariables</key>
    <dict>
           <key>NODE_ENV</key>
           <string>production</string>
           <key>SMTP_HOST</key>
           <string>smtp.gmail.com</string>
           <key>SMTP_PORT</key>
           <string>587</string>
           <key>SMTP_SECURE</key>
           <string>SSL</string>
           <key>SMTP_USER</key>
           <string>beruni.tw@gmail.com</string>
           <key>SMTP_PASS</key>
           <string>!abcd1234</string>
           <key>SMTP_FROM</key>
           <string>Beruni Strider noreply@gmail.com</string>
           <key>STRIDER_CLONE_DEST</key>
           <string>builds</string>
           <key>SERVER_NAME</key>
           <string>{{ ansible_host }}</string>
    </dict>
  </key>
  <key>Label</key>
  <string>strider.app</string>
  <key>ProgramArguments</key>
  <array>
    <string>./server.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>/Users/footballpools/strider</string>
  <key>StandardErrorPath</key>
  <string>/Users/footballpools/strider/output.log</string>
  <key>StandardOutPath</key>
  <string>/Users/footballpools/strider/output.log</string>
  <key>HardResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>4096</integer>
  </dict>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>4096</integer>
  </dict>
</dict>
</plist>
